[Unit]
Description=CityFibre Synth
After=network.target

[Service]
Type=simple
Environment=STAGE=production
WorkingDirectory=/var/www/synth/current
ExecStart=/usr/bin/python3 synth OnDevicePilot cityfibre_demo
Restart=on-failure
User=pervasive
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cityfibre_synth

[Install]
WantedBy=multi-user.target
